<div class="container">
  <div class="row">
    <div class="column">
      <div class="block">
        <p>
          <span>
            Wyobraźcie sobie Państwo drogę, j<img style="float: right; width: 450px; height: auto!important;" src="../../assets/images/homepage_sample.jpg" alt="">aką musi przebyć mebel, żeby trafić do Państwa domu.
            My znamy ją doskonale - od pomysłu na wzór, po wybór drewna i tkaniny,
            później samą konstrukcję i staranne spakowanie mebla, aż do samego transportu do salonu meblowego.
            <strong>
              Już od ponad 25 lat dbamy o to, aby otrzymane przez Państwa meble były najwyższej jakości,
              a doświadczenie z nimi związane wyłącznie pozytywne.
            </strong>
          </span>
        </p>
        <p>
          <br>
        </p>
        <p>
          <span>
            Powodzenie zarówno na rynku polskim,
            jak i zagranicznym zawdzięczamy rozwojowi technologicznemu i wykwalifikowanej kadrze pracowników.
            Meble wykonujemy ręcznie ze starannie wybranych surowców -
            wszystko z myślą o zadowoleniu każdego z naszych klientów.
          </span>
        </p>
        <p>
          <br>
        </p>
        <p>
          <span>
            Od początków naszej działalności bierzemy pod uwagę nie tylko walory estetyczne,
            ale również komfort i zmieniające się trendy.
            To dzięki zdobytemu doświadczeniu co roku nasza kolekcja wzbogaca się o nowe róznorodne wzory,
            sumiennie opracowane przez projektantów tak, by spełniały oczekiwania naszych klientów.
          </span>
        </p>
        <p>
          <br>
        </p>
        <p>
          <span>
            Życzymy Państwu i sobie kolejnych lat satysfakcji z użytkowania naszych mebli - zarówno na fotelu w pracy,
            na sofie w podróży, jak i odpoczywając wygodnie na ulubionym narożniku w domu.
          </span>
        </p>
      </div>
    </div>
  </div>
</div>

