<div class="container">
  <div class="row">
    <div class="column">
      <div class="block">
        <p>
          <span>
            Wyobraźcie sobie Państwo drogę, j<img style="margin-left: 30px; float: right; width: 450px; height: auto!important;" src="../../assets/images/strona_glowna.jpg" alt="">aką musi przebyć mebel, żeby trafić do Państwa domu.
            My znamy ją doskonale - od pomysłu na wzór, po wybór drewna i tkaniny,
            później samą konstrukcję i staranne spakowanie mebla, aż do samego transportu do salonu meblowego.
            <strong>
              Już ponad 25 lat dbamy o to, aby otrzymane przez Państwa meble były najwyższej jakości,
              a doświadczenie z nimi związane wyłącznie pozytywne.
            </strong>
          </span>
        </p>
        <p>
          <br>
        </p>
        <p>
          <span>
            Powodzenie zarówno na rynku polskim,
            jak i zagranicznym zawdzięczamy rozwojowi technologicznemu i wykwalifikowanej kadrze pracowników.
            Meble wykonujemy ręcznie ze starannie wybranych surowców -
            wszystko z myślą o zadowoleniu każdego z naszych klientów.
          </span>
        </p>
        <p>
          <br>
        </p>
        <p>
          <span>
            Od początku naszej działalności bierzemy pod uwagę przede wszystkim komfort,
            ale również walory estetyczne i zmieniające się trendy.
            To dzięki zdobytemu doświadczeniu co roku nasza kolekcja wzbogaca się o nowe różnorodne wzory,
            sumiennie opracowane przez projektantów tak, by spełniały oczekiwania naszych klientów.
          </span>
        </p>
        <p>
          <br>
        </p>
        <p>
          <span>
            <strong>
              Życzymy Państwu i sobie kolejnych lat satysfakcji z użytkowania naszych mebli - czy to na fotelu w pracy,
              na kanapie gdzieś w podróży, czy odpoczywając wygodnie na ulubionym narożniku w domu.
            </strong>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="push"></div>
</div>

