<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/wumex-logo.png" alt="">

      </a>
    </div>
    <ul style="float: right">
      <li>
        <cuppa-slidemenu [menulist]="menuItemsArray" (open)="onMenuOpen()" (close)="onMenuClose()" (onItemSelect)="onItemSelect($event)"></cuppa-slidemenu>
      </li>
    </ul>

  </div><!-- /.container-fluid -->
</nav>


