nav {
  height: 60px;
}

.navbar-default {
  background: #fff;
  border-bottom: none;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
  padding-top: 7px;
  padding-left: 15px;
}

ul {
  padding-top: 5px;
  list-style-type: none;
}
