<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1">
      <div class="block">
        <p>
          <span>
            <strong>
              WUMEX Sp. K. Sp. z o. o.
            </strong>
          </span>
        </p>
        <p>
          <span>
            <strong>
              Lipie 1a, 63-645 Łęka Opatowska
            </strong>
          </span>
        </p>
        <p>
          <span>
            <strong>
              woj. wielkopolskie, Polska
            </strong>
          </span>
        </p>
      </div>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
      <div class="block">
        <p>
          <span style="font-size: 14px;">
            biuro czynne od poniedziałku do piątku
          </span>
        </p>
        <p>
          <span style="font-size: 14px;">
            w godzinach: 9:00 - 16:00
          </span>
        </p>
        <br>
        <p>
          <span style="font-size: 14px;">
            62 78 14 509
          </span>
        </p>
        <p>
          <span style="font-size: 14px;">
            fax 62 78 14 313
          </span>
        </p>
        <p>
          <span style="font-size: 14px;">
            e-mail: wumex@kalisz.home.pl
          </span>
        </p>
      </div>
    </div>
  </div>

</div>
