
.block {
  color: rgb(125, 125, 125);
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
