<div class="container">
  <div class="row">
    <div class="column">
      <div class="block">
        <p>
          <span style="font-size:14px">
            <img src="../../assets/images/cooperation_sample.jpg" alt="" style="float: right; height: 360px; margin-left: 20px; margin-right: 20px;">
            Zapraszamy do współpracy osoby zainteresowane pracą na stanowiskach:
          </span>
        </p>
        <p><span style="font-size:14px">• stolarz</span></p>
        <p><span style="font-size:14px">• tapicer</span></p>
        <p><span style="font-size:14px">• krawcowa, szwaczka</span></p>
        <p><span style="font-size:14px">• osoba do pakowania mebli</span></p>
        <p><span style="font-size:14px">• kierowca z kat. prawa jazdy C+E (weekendy poza pracą)</span></p>
        <p><span style="font-size:14px">• pracownik biurowy ze znajomością języka angielskiego i niemieckiego</span></p>
        <p><br></p>
        <p><span style="font-size:14px">Oferujemy również szkolenia w powyższych zawodach.</span></p>
        <p><br></p>
        <p><span style="font-size:14px">Zachęcamy do nadsyłania CV na adres e-mail: wumex@kalisz.home.pl</span></p>
        <p><span style="font-size:14px">lub osobiste doręczenie dokumentów do siedziby firmy. </span></p>
        <p><span style="font-size:14px">Zapraszamy także do kontaktu telefonicznego: tel. kom. 691 023 724 .</span></p>
        <p><br></p>
        <p><span style="font-size:12px">Zastrzegamy sobie prawo do odpowiedzi tylko na wybrane oferty.</span></p>
        <p><span style="font-size:12px">W dokumentach prosimy umieścić następującą klauzulę: </span></p>
        <p><span style="font-size:12px">Wyrażam zgodę na przetwarzanie moich danych osobowych </span></p>
        <p><span style="font-size:12px">dla potrzeb niezbędnych do realizacji rekrutacji (zgodnie z ustawą </span></p>
        <p><span style="font-size:12px">z dnia 29.08.97 r. o ochronie danych osobowych, Dz. U. Nr 133 poz. 883)</span></p>

      </div>
    </div>
  </div>
</div>
